@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

h1 {
    color: white;
    position: relative;
    margin: 5px 0px 0px 5px;
    font-family: 'Smokum', cursive;
    font-size: 45px;
}

#containerPrincipal {
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 0px auto;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    position: absolute;
}

.box {
    width: 40%;
    height: 40%;
    box-shadow: 0px 0px 1px white;
}

#boxVerde {
    background-color: rgb(15, 94, 15);
    border-top-left-radius: 100%;
    filter: brightness(0.75);
}

#boxVermelha {
    background-color: rgb(153, 1, 1);
    border-top-right-radius: 100%;
    filter: brightness(0.75);
}

#boxAmarela {
    background-color: rgb(156, 156, 0);
    border-bottom-left-radius: 100%;
    filter: brightness(0.75);
}

#boxAzul {
    background-color: rgb(1, 1, 136);
    border-bottom-right-radius: 100%;
    filter: brightness(0.75);
}

.circuloCentral {
    background-color: rgb(199, 195, 195);
    width: 60%;
    height: 60%;
    position: absolute;
    border-radius: 50%;
    margin: 7% 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Smokum', cursive;
    font-size: 30px;
    text-align: center;
}

.circuloCentral:hover {
    cursor: pointer;
}